<section class="contato">
    <ul class="">
        <li class="nome">
            <strong>{{nome}}</strong>
        </li>
        <li class="telefone">
            {{telefone}}
        </li>
        <li>
            <button>
                <img src="/assets/pencil-square.png" alt="icone editar" class="editar">
            </button>
            <button>
                <img src="/assets/trash.png" alt="lixeira" class="excluir">
            </button>
        </li>
    </ul>
</section>